* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: cursive;
    /* border: 1px red dotted; */
  }
/* webpage attributes */
.container {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    gap: 1.5em;
  }
  .flexed{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .flexed2{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  /* nav and location */
  nav{
    padding-right: 100px;
    font-size: x-large;
    color: white;
    background-color: rgb(130, 220, 255);
    min-height: 60px;
    margin: auto 0;
    display: flex;
    justify-content: space-between;
  }
  .location{
    border: black 2px solid;
  }
  .degreeclicker{
    padding-right: 50px;
    display: flex;
    justify-content: space-evenly;
    gap: 1.5em;
}
h2{
    margin: auto 0;
    padding-right: 50px;
}
  .menu ul {
    display: flex;
    list-style: none;
    gap: 1.5em;
  }

  /* aside  content  */
  aside {
    min-height: 400px;
  }
  .aside_content {
    background-color: rgb(218, 218, 218);
    border-radius: 5%;
    min-height: 350px;
  }
  .dayofweek{
    padding-top: 20px;
    font-size:x-large;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .templow{
    color: blue;
    position: relative;
    left: 100px;
    bottom: 27px;
    font-size: larger;
    margin: 0 auto;
  }
  .temphigh{
    color: red;
    position: relative;
    left: 50px;
    font-size: larger;
    margin: 0 auto;
  }
  .weatherimg{
    padding: 20px;
    border-radius: 50%;
    width: 180px;
  }

/* cookies!!*/
.cookiesbanner{
    position: relative;
    left: 280px;
    bottom: 15px;
    width: 800px;
    padding: 20px;
    margin: auto 0px;
    border: black 2px solid;
}
.acceptbtn{
    background-color: rgb(130, 220, 255);
    box-shadow: black 5px 5px;
    width: 100px;
    height: 30px;
}
  /* footer */
  footer {
    background-color: rgb(163, 163, 163);
    min-height: 100px;
  }
